html {
  font-size: 15px;
}

body {
  font-family: "Sora", sans-serif;
}

/* Custom scrollbar for cleaner look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e4dbe6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d941f2;
}
